.category-container {
  display: flex;
  flex-direction: column;
  border-width: 1;
  border-color: var(--main-color);
  border-style: solid;
  margin: 10px;
  padding: 5px;
  align-items: center;
  span {
    font-size: 80px;
    color: var(--main-color);
  }
}

.category-title {
  width: 100px;
  text-align: center;
  margin-top: 10px;
  max-height: 55px;
  overflow: hidden;
  color: var(--main-color);
}