.categories-page-container {
  margin: 20px;
}

.categories-page-title {
  font-size: 36px;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.categories-page-data {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}