:root {
  --main-color: #800020;
  --dark-color: #2f2f30;
  --medium-color: #b995a1;
  --light-color: #f0ece2;
}

body {
  margin: 0;
  background-color: var(--light-color);
  font-family: 'Google Sans',serif;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:active {
  color: var(--dark-color);
}

a:visited {
  color: var(--dark-color);
}

div {
  margin: 0;
  padding: 0;
}

